:root {
    --primaryColor: #1350A4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[x-cloak] {
    display: none !important;
}

.avatar {
    width: 100px;
    border: rgba(76, 197, 191, 0.904);
    border-style: solid;
    border-radius: 30%;
}

body {
    height: 100vh;
}

a {
    color: var(--primaryColor);
    text-decoration: none;
}

label {
    color: var(--primaryColor);
}

/* Rounded border */
hr.rounded {
    border-top: 1px solid var(--primaryColor);
    border-radius: 5px;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.main-container {
    /* background: #6968AD; */
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    position: relative;
}

.main-container-nav {
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.main-container-nav a {
    color: #fff;
    /* font-size: 18px;
    font-weight: bold; */
}

main {
    min-height: 100%;
    /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    /* background: #201f3fad; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-checkbox {
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    padding: 0.5rem;
    border-radius: 2rem;
}
  
.notification-card {
    display: flex;
    border-radius: .5rem;
    margin: 0.25rem 0rem;
    padding: .25rem 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
    align-items: center;
}
  
.notification-card-success {
    background: linear-gradient(
      to left top,
      rgba(94, 211, 147, 0.8),
      rgba(95, 243, 132, 0.5)
    );
    border: #245501;
    border-style: solid;
    border-width: 1px;
}
  
.notification-card-success p {
    color: #245501;
}
  
.notification-card-success i {
    color: #245501;
}
  
.notification-card-failure {
    background: linear-gradient(
      to left top,
      rgba(241, 94, 84, 0.8),
      rgba(219, 67, 57, 0.5)
    );
    border: #bf0603;
    border-style: solid;
    border-width: 1px;
}
  
.notification-card-failure p {
    color: #bf0603;
}
  
.notification-card-failure i {
    color: #bf0603;
}

/* Landing Page */

/*** Hero Section ***/

.hero {
    height: 70%;
    background: linear-gradient(to bottom, #d9fcf5, #a8effa);
}

/* ----- Nav ----- */
.nav-content {
    font-family: "Poppins", sans-serif;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1400px;
    padding: 0 24px;
    margin: 0 auto;
}

.nav-content-logo {
    display: flex;
    align-items: center;
}

.nav-content-logo a{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.nav-content-links {
    padding: 1.25rem 1rem;
    font-weight: 800;
}

.nav-content-links a {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: var(--primaryColor);
}
/* ----- End Nav ----- */

/* ----- Hero Content ----- */
.hero-content {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.hero-content h1 {
    font-size: 72px;
    font-weight: 600;
}

.hero-content h2 {
    font-size: 54px;
    font-weight: 600;
}

.hero-content p {
    font-size: 28px;
    font-weight: 500;
}

.hero-content h1, h2, p {
    color: var(--primaryColor);
}
/* ----- Hero Content End ----- */

/*** Hero Section End ***/

/*** Services Section Start ***/

.services {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    font-family: "Poppins", sans-serif;
}

.services h1 {
    color: var(--primaryColor);
    font-size: 54px;
    font-weight: 800;
}

.services-container {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    padding: 2rem 0;
}

.feature-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin: 10px;
    color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-card p {
    text-align: center;
    font-weight: 500;
}

.feature-card h4 {
    font-size: 18px;
    font-weight: 600;
    padding: 0.75rem 0;
    margin: 0 0 0.5rem 0;
}

.feature-card img {
    height: 120px;
    width: 180px;
    margin: 0 0 1rem 0;
}

/*** Services Section End ***/

/*** About Section Start ***/

.about {
    padding: 2rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1f1f1;
    font-family: "Poppins", sans-serif;
}

.about h1 {
    color: var(--primaryColor);
    font-size: 54px;
    font-weight: 800;
    padding: 2rem 0;
}

.about-container {
    max-width: 1536px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.about-container > *:first-child {
    grid-column: 1 / span 3;   
}
  
.about-container > *:nth-child(2) {
    grid-column: 1 / span 2;   
}

.about-feature-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin: 10px;
    color: var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-feature-card p {
    padding: 0 2rem;
    font-size: 18px;
    font-weight: 600;
}

/*** About Section End ***/

/*** Discover Section Start ***/

.discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    width: 100%;
    background: #6cdbeb;
    padding: 2rem 0;
}

.discover h1 {
    color: #fff;
    font-size: 54px;
    font-weight: 800;
}

.w3-section {
    max-width: 500px;
}

.mySlides {
    width: 100%;
    position: relative;
    text-align: center;
    color: var(--primaryColor);
    font-weight: 900;
}

.mySlides img {
    height: 800px;
    width: 100%;
    border-radius: .375rem;
}

.discover-text-top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.discover-text-centered {
    color: var(--primaryColor);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.discover-text-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.dtc-l {
    font-size: 64px;
}

.dtc-md {
    font-size: 48px;
    color: #243d41;
}

.dtc-sm {
    font-size: 48px;
    color: #ffffffda;
}

.mySlides-1 {
    background-image: url('../images/digital-payment-one.jpg');
}

.mySlides-2 {
    background-image: url('../images/services-ledger.jpg');
}

.mySlides-3 {
    background-image: url('../images/generic-mobile-payment.jpg');
}

/*** Discover Section End ***/

/* Landing Page Section End */




/* Authentication Section  */

.auth-nav-content-logo {
    position: fixed;
    top: 24px;
    left: 250px;
    font-size: 36px;
    font-weight: bold;
    color: var(--primaryColor);
    font-family: "Poppins", sans-serif;
}

.authentication-card {
    color: var(--primaryColor);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.authentication-card button {
    background: var(--primaryColor);
    color: #fff;
}

/* Authentication Section End */



/* Glass Section Start */

.glass {
    height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      #ffffffb3,
      #ffffff4d
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      #ffffffb3,
      #ffffff4d
    );
    border-radius: 2rem;
}

/*** Dashboard Upper Section Start ***/

.dashboard-upper-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    gap: 1.25rem;
    border-radius: 2rem;
}

.dashboard-upper-section-nav-drawer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.932),
      rgba(255, 255, 255, 0.637)
    );
    /* border-radius: 2rem; */
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /* background-color: #111;  */ /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
}

/* User Section Start */

.user {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 4rem 0 0 0;
    gap: .5rem;
}

.user img {
    height: 160px;
    width: 160px;
    border-radius: 9999px;
    object-fit: cover;
}

.settings {
    margin-left: 12px;
    position: relative;
}

.trigger-header {
    cursor: pointer;
    color: var(--primaryColor);
    font-weight: 500;
}

.link {
    display: flex;
    margin: 0rem 0rem;
    padding: 1rem 0rem;
    justify-content: center;
    align-items: center;
}
  
.link h2 {
    padding: 0rem 2rem;
}
  
.links {
    flex: 2;
}

/* User Section End */

/*** Dashboard Upper Section End ***/

/* Games Section Start */

.games {
    margin: 5rem;
    display: flex;
    flex: 2;
    flex-direction: column;
}

.status {
    margin-bottom: 3rem;
}

.status h1 {
    color: var(--primaryColor);
    font-size: 36px;
    font-weight: 700;
}

.status-sub-header {
    text-align: center;
    font-weight: 600;
    font-size: 1.125rem;
}
  
.status input {
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border: none;
    padding: 0.5rem;
    border-radius: 2rem;
    height: 3rem;
}

.cards {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    overflow: scroll;
    overflow-x: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-info h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primaryColor);
}
  
.card-info p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primaryColor);
}

.card-info h2, p {
    padding: 0.75rem 0rem;
}

.form-input {
    display: flex;
}
  
.form-input label {
    flex: 2;
    font-size: 1.125rem;
    font-weight: 600;
}
  
.form-input input, select {
    flex: 4;
}

.model-btn {
    text-align: center;
    padding: 0.25rem 0.25rem;
    border-radius: 0.125rem;
    margin: 0.125rem 0;
    color: #ffffff;
}

/* Games Section End */

/* Footer Section Start */

.footer {
    background: #002240;
}
  
.footer .social a {
    margin: 0 10px;
}

/* Footer Section End */

@media screen and (max-width: 1300px) {

    .circle1,
    .circle2 {
        height: 6rem;
        width: 6rem;
    }

    .circle1 {
        top: 5%;
        right: 5%;
    }
  
    .circle2 {
        bottom: 5%;
        left: 5%;
    }

    /* Landing Page */

    /*** Nav Section Start ***/

    .nav-content {
    }
    
    .nav-content-sm {
        margin-top: -72px;
    }
    
    .nav-content-logo a {
        font-size: 18px;
    }


    .nav-content-logo-sm a {
        font-size: 36px;
    }

    
    .nav-content-links-sm {
    }

    .nav-content-links {
        padding: 1.25rem 0rem;
    }

    .nav-content-links a {
        font-size: 16px;
    }

    /*** Nav Section End ***/

    /*** Hero Section Start ***/
    
    .hero {
        height: min-content;
        background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    }

    .hero-content h1 {
        font-size: 48px;
        margin: 52px 0 0 0;
    }

    .hero-content h2 {
        font-size: 32px;
        padding: 0 0;
    }

    .hero-content p {
        font-size: 22px;
        padding: 48px 48px 72px 48px;
    }

    /*** End Hero Section ***/

    /*** Services Section Start ***/
    
    .services-container {
        flex-direction: column;
    }

    /*** End Services Section ***/

    /*** Discover Section Start ***/

    .mySlides {
        height: 400px;
        padding: 0 .75rem;
    }

    /*** Discover Section End ***/

    /*** About Section Start ***/
    
    .about-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .about-container > *:first-child {
        grid-column: 1 / span 1;   
    }
      
    .about-container > *:nth-child(2) {
        grid-column: 1 / span 1;   
    }

    .about-feature-card {
        flex-direction: column;
        gap: 2rem;
    }

    /*** About Section End ***/

    /* End Landing Page */

    /* Glass Section Start */
    .glass{
        flex-direction: column;
        width: 70%;
        margin: 80px 0;
    }

    /*** Dashboard Upper Section Start ***/
    .dashboard-upper-section {
        display: none;
    }
    /*** Dashboard Upper Section End ***/

    /*** Games Section Start ***/
    .games {
        margin: 0;
        padding: 1.5rem 1.25rem;
        height: 60%;
        overflow: scroll;
    }

    .status {
        text-align: center;
        margin-bottom: .25rem;
    }

    .status h1 {
        font-size: 24px;
        font-weight: 600;
    }

    .status-sub-header {
        padding: 2rem 0;
    }

    .card {
        margin: 0.5rem 0rem;
    }

    .form-input {
        flex-direction: column;
        font-size: 16px;
    }
    
    .form-input label {
        text-align: left;
        margin-bottom: 1rem;
    }

    .form-input input, select {
        margin-bottom: 1.5rem;
    }

    .input-checkbox {
        padding: .025rem;
        margin-left: 1rem;
    }
    /*** Games Section End ***/

    /* Glass Section End */
}